#story .ant-collapse > .ant-collapse-item > .ant-collapse-header{
  height: auto;
  line-height: initial;
}

#story .ant-collapse-content{
  overflow: visible;
}

//.ant-collapse{
//  background-color: #f7f7f7;
//  border-radius: 4px;
//  margin-bottom: 24px;
//}

#story .ant-collapse {
  background-color: #fafafa;
  border-radius: 0px;
  //border-left: 0px;
  //border-right: 0px;
  //border-top: 1px solid #d9d9d9;
  //border-bottom: 1px solid #d9d9d9;
}


#milestone{
  text-align:center;
  background-color:#579FE9;
  margin-bottom: 10px;
  border: 1px solid #dadada;

}

#milestone .block{
  width:95%;
  height:100%;
  display:inline-block;
  text-align:left;
  background-color:#ffffff;
  padding:8px 5px;
  margin-bottom: -4px;
}

#milestone .block:after{
  content:"";
  visibility: hidden;
  display: block;
  clear: both;
}