.project_list_div{
    margin-left: 10px;
}

.null_type_div{
    margin-left: 150px;
    margin-top: 150px;
}

.count{
    border-color: #dcdcdc;
    color: #313236;
    display: inline-block;
    background: white;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    padding: 6px 10px;
    letter-spacing: .4px;
    text-align: center;
    vertical-align: middle;
    margin: 0 10px 0 1px;
}

.arrow:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: 110px;
    top:8%;
    margin-top: -6px;
    border-width: 7px 5px 7px 0;
    border-right-color: #dce0e5;
    pointer-events: none;
}

.arrow:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: 1px;
    top:50%;
    margin-top: -9px;
    border-width: 10px 7px 10px 0;
    border-right-color: #fff;
    pointer-events: none;
}
