.ant-layout-content {
  background: #fff;
  padding: 10px;

}


.filter-not-found {
  padding: 7px 15px;
  color: #ccc;
  cursor: not-allowed;
  display: block;
}

#mycalender .ant-fullcalendar-fullscreen .ant-fullcalendar-date{
  margin: 0px;
  padding: 0px;

}

//codefile样式
.select-branch{
  width: 120px;
  //padding-bottom: 10px;
  padding:0 0 10px 0;
}

.ant-back-top {
  bottom: 100px;
}
.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #57c5f7;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.blob-commit-info{
  background-color: #FAFAFA;
  border: 1px solid #e5e5e5;
  padding-left: 10px;
}
.commit-info{
  padding-top: 10px;
  padding-bottom: 10px;
}