.ant-layout-content {
  background: #fff;
  padding: 10px;

}


.filter-not-found {
  padding: 7px 15px;
  color: #ccc;
  cursor: not-allowed;
  display: block;
}

#mycalender .ant-fullcalendar-fullscreen .ant-fullcalendar-date{
  margin: 0px;
  padding: 0px;

}