.update_ul{
    border: solid 1px #e5e5e5;
}

.update_li_light{
    cursor: pointer;
    padding: 10px 0px 0px 10px;
    color: #2db7f5;
}

.update_li{
    cursor: pointer;
    padding: 10px 0px 0px 10px;
}

.ul_li_icon{
    padding-right: 10px;
}