#backlog .ant-layout-content > .ant-layout-content-box {
  //padding-top: 0px;
  //padding-bottom: 0px;
}

.ac-tooltip{
  position:absolute;
  //visibility:hidden;
  //width: 10px;
  border : 1px solid #efefef;
  background-color: white;
  opacity: .8;
  padding: 5px 15px;
  transition: top 200ms,left 200ms;
  -moz-transition:  top 200ms,left 200ms;  /* Firefox 4 */
  -webkit-transition:  top 200ms,left 200ms; /* Safari 和 Chrome */
  -o-transition:  top 200ms,left 200ms;
  border-radius: 5px;
}

#c4{
  padding: 5px;
  width: 200px;
  background-color: #3D3D3D;
  color: white;
  border-radius: 5px;
}