.set_div{
    background: #F4F4F4;
    width:45px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.setting_img{
    font-size: 15px;
    padding-top: 8px;
    padding-left: 5px;
}

.down_img{
    padding-left: 7px;
    font-size: 5px;
}

.setting_operate_content{
    padding-left: 10px;
}

.tooltip_div{
    background-color: white;
    position: relative;
    min-width: 200px;
    border:1px solid #EEEEEE;
    border-radius:5px;
    box-shadow: -1px 2px 5px #EEEEEE;
}

.tooltip_div:after{
    content:'';
    position:absolute;
    border:7px solid transparent;
    border-left-color:#EEEEEE;
    left:100%;
    top:25%
}

.tooltip_container{
    display:inline;
    float:right;
}

