
#mytable tr{
  background-color: white;
}
#mytable td{
  height: 113px;
  //vertical-align: middle;
}

#mytable td div{
  border: 1px solid #e9e9e9;
  height: 96px;
  text-align:center;
  //position: relative;
}
