
table > tbody {
  > tr.success{
    background-color: #f0fff0;
  };
  > tr.failed{
    background-color: #ffb6c1;
  };
  >tr{
    > td.success{
      background-color: #f0fff0;
    };
    > td.failed{
      background-color: #ffb6c1;
    };
  }

}