.events {
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.events li {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.events li span {
  vertical-align: middle;
}

.events li span:first-child {
  font-size: 9px;
  margin-right: 4px;
}

.notes-month {
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.background-3{
  background-color: #c9ffaa;
  height:100%
};
.background-1{
  background-color: #fccba2;
  height:100%
};
.background-0{
  background-color: #ffd1cc;
  height:100%
};
.background-2{
  background-color: #fffdb1;
  height:100%
};

.background-4{
  background-color: #c3f8ff;
  height:100%
};

.background-1{
  background-color: #ffdfc1;
  height:100%
};

.background-5{
  background-color: #cac9ff;
  height:100%
};

.mouseOverLight{
  color: #fff !important;
  background-color: #d3b8f5;
  font-weight: bold!important;
}