.ant-layout-header {
  background: #579FE9;
  .header-menu {
    > li {
      //float: right;
    }
    color: #fff;
    background: #579FE9;
  }
}

.pending-item {
  color: white;
  padding: 10px;
  span {
    color: red;
  }
}

.action-button{
  padding: 15px 10px 5px 10px;
  cursor: pointer;
  font-size: 28px;
  color:#FFF;
}