.progress-container{
  text-align: center;
  width:300px;
}

.progress-label {
  display: block;
  width:auto;
  white-space: pre-wrap;
  word-break:normal;
  word-wrap: break-word;
  overflow: hidden;
}