.menu-area{
  text-align: center;
  background-color: #F4F4F4;
}

.menu-bar-wrapper{
  position: relative;
  right:50%;
  float:right;
}


.menu-area .ant-menu-horizontal > .ant-menu-item, .menu-area .ant-menu-horizontal > .ant-menu-submenu {
  left:50%;
}

.menu-area .menu-bar{
  background-color: #F4F4F4;
  line-height:30px;
}

.nav-links.sub-nav {
  background-color: #ECECEC;
  border-top: 1px solid #e9e9e9;

}

.nav-links {
  padding: 0;
  //margin: 0;
  margin: -1px 0px 0px 0px;
  list-style: none;
  height: auto;
  //border-bottom: 1px solid #e5e5e5;
}

.nav-links.sub-nav .container-fluid {
  background-color: #ECECEC;
  margin-bottom: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-links.sub-nav li.active a {
  border-bottom: none;
  color: #4a8bee;
}

.nav-links.sub-nav li a {
  margin: 0;
  padding: 5px 10px 5px 60px;
}

.nav-links li a {
  display: inline-block;
  //margin-bottom: -1px;
  line-height: 15px;
  //height: 20px;
  color: #959494;
  //border-bottom: 2px solid transparent;
}