.ant-layout-aside {
  position: relative;
  min-height: 100%;
  min-width: 1100px;
  .ant-layout-main {
    //margin-left: 224px;
    //margin-left: 230px;
    .ant-affix{
      z-index: 9;
    }
  }
  .ant-layout-main-sidebar-off {
    margin-left: 0px;
  }
  .ant-layout-container {
    margin: 0px 10px 10px 10px;
    min-height: 500px;
    .ant-layout-content {
      background: #fff;
      padding: 10px;
    }
  }
}
.bread-sidebar-button {
  //right:-220px;
  //right:-190px;
  left:0px;
  position: relative;
  display: block;
  //position: absolute;
}
.bread-sidebar-button-off {
  //right:-220px;
  //right:-190px;
  left:8px;
  display: none;
  //position: absolute;
  //position: absolute;
}

@import '../../../node_modules/antd/dist/antd.less';
@icon-url: "/assets/iconfont/iconfont"; // 把 iconfont 地址改到本地

//@import "~antd/lib/style/themes/default.less";
//@icon-url: "/iconfont/iconfont"; // 把 iconfont 地址改到本地
//@import "~antd/lib/style/core/index.less";
//@import "~antd/lib/style/components.less";

 .ant-btn {
   margin: 0 10px 0px 0;
}