.more_group{
    padding-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

.filter_style{
    z-index: 1000;
}

.update_ul{
    border: solid 1px #e5e5e5;
}

.update_li{
    cursor: pointer;
    padding: 10px 0px 0px 10px;
}

.update_li_light{
    cursor: pointer;
    padding: 10px 0px 0px 10px;
    color: #2db7f5;
}

.ul_li_icon{
    padding-right: 10px;
}

.dropdown_a{
    padding-left: 10px;
}

.dropdown_menu{
    width: 200px;
}